*,
html,
body {
  margin: 0;
  box-sizing: border-box;
}

.page1,
.page2,
.page3 {
  background-color: #efe9e5;
  display: flex;
  height: 380px;
  width: 700px;
  margin: auto;
  margin-bottom: 25px;
}

.line {
  width: 7%;
  height: 100%;
  border-right: 2px solid #1e1e1e;
}

.page1profil {
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topline {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 90%;
  padding: 20px;
}

.topline span {
  font-family: "passion one";
  letter-spacing: 4px;
  font-size: 60px;
  text-transform: uppercase;
}

.page1profil img {
  width: 85%;
  height: 65%;
  object-fit: cover;
  border-radius: 100%;
}

/* nav {
  display: flex;
  flex-direction: row;
} */

.bottomline {
  height: 40%;
  display: flex;
  flex-direction: row;
  border-top: 2px solid #1e1e1e;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  font-family: "passion one";
}

/* page22222222 */
.aboutme {
  width: 65%;
  height: 100%;
  border-right: 2px solid #1e1e1e;
}

.about1 {
  height: 65%;
  border-bottom: 2px solid #1e1e1e;
  padding: 30px;
}

.about1 h1 {
  text-align: center;
  margin-bottom: 20px;
}

.about2 {
  padding: 10px;
}

.about2 h3 {
  font-size: 18px;
  text-transform: uppercase;

  font-family: "Times New Roman", sans-serif;
  margin-left: 20px;
  margin-bottom: 10px;
}

.picture {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture img {
  height: 90%;
  width: 80%;
  object-fit: cover;

  border-radius: 50px;
}

/* pageeee333333333333 */
.page3 {
  flex-direction: column;
  align-items: center;
  height: 440px;
}

.up {
  height: 800px;
}

.page3 h2 {
  padding: 20px;

  text-transform: uppercase;
}

.hightlight {
  display: none;
  width: 100%;
  height: 350px;
  position: relative;
  justify-content: center;

  background: #1e1e1e;
}

.hightlight img {
  width: 90%;
  height: 100%;
  object-fit: contain;
}

.picHistory {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.history {
  position: relative;
  width: 200px;
  height: 160px;
  cursor: pointer;
  transition: all 0.3s;
}

.history:hover {
  transform: scaleY(1.1);
}
.history img {
  object-fit: cover;
  height: 100%;
  /* border-radius: 50%; */
  width: 100%;
}
.history::after {
  z-index: 2;
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);

  opacity: 0;
  transition: all 0.3s ease;
}

.history:active:after {
  opacity: 1;
}

.prev,
.next,
.delete {
  position: absolute;
  margin: 2px;
  cursor: pointer;
  top: 50%;
}

.prev {
  left: 1px;
}
.next {
  right: 1px;
}

.delete {
  right: 8px;
  top: 8px;
}

@media (max-width: 480px) {
  .page1,
  .page2,
  .page3 {
    height: 380px;
    width: 100%;

    margin-bottom: 20px;
  }

  .topline span {
    letter-spacing: 4px;
    font-size: 40px;
  }

  .bottomline {
    height: 20%;
  }

  .picHistory {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
  }
  .about1 {
    padding: 10px;
  }
  .about1 h1 {
    margin-bottom: 10px;
  }

  .aboutme {
    width: 60%;
  }

  .picture {
    width: 40%;
  }
  .picture img {
    width: 95%;
    height: 80%;
  }

  .page3 {
    height: 600px;
  }

  .history {
    width: 180px;
  }

  .up {
    height: 950px;
  }
}
